.header
{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title
{
  color: white;
  margin: 0;
}

.problem-statement
{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.retrieve-button
{
  margin-left: 20px;
}




